<!-- GoogleのAPI> -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvhoPfz4HASHTDQGVir2N5CKcwIdshf3M&libraries=places&language=en">
  </script>



<div class = "maintitle">
    <P>Brali</p>



<div class = "search">
<%= form_tag('/tweets/search', method: :get) do %>

<input name="keyword" id="keyword" value="" type="text">
<button id="btn-search" title="検索" type="submit"></button>

</input>

  </div>

 <% end %>


<script type="text/javascript">

var input = document.getElementById( 'keyword');
    var options = {
        types: ['(cities)'],
    };
    autocomplete = new google.maps.places.Autocomplete( input, options);
    
</script>