
<div class = "maintitle">
    <P>Brali</p>
</div>



<!--<%= form_tag('/tweets/search', method: :get) do %>
-->

<%= form_for(@place) do |f| %>
<div class = "search">
<%= f.search_field :keyword, size:10, maxlength:15 %><br/>
</div>

<div class="actions">
<%= f.submit %>
</div>

<% end %>