
<
<!-- < GOOGLE API > -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvhoPfz4HASHTDQGVir2N5CKcwIdshf3M&libraries=places&sensor=false&language=en">
  </script>



<!-- < GOOGLE API > -->
<script type="text/javascript">
    var input = document.getElementById('place');
    var options = {
        types: ['(cities)'],
    };
    google.maps.event.addDomListener( window, 'load');
    autocomplete = new google.maps.places.Autocomplete( input, options);
</script>



<body>

<!-- 本文 -->
<div class="contents row"> 
  <div class="container">

  <%= form_tag('/tweets', method: :post) do %>
    
  <h3> POST </h3>
    
    <input id="place" type="text" name="place" required>

    <input placeholder="visiting date : yyyy-mm-dd" type="date" name="day" required>

    <textarea cols="30" placeholder="message" name="message" rows="5" required></textarea>
    <input type="submit" value="SEND">

  <% end %>

  </div>
</div>

  </body>