<!-- <div class = "contents row"> -->
  


  <p><%= @name %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
     <!--  <div class = "content_post"> -->
     <dev >
      <p>
      <%= tweet.message %>
    </p>
    
  </div>
  <% end %>
  

 <!--  </div> -->

