
.maintitle{
 margin:0 auto;
 font-family: "Times New Roman", Times, serif;
 color: white;
 background-image:url(images/back.jpg);
 
 background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 120px;
  line-height: 100%;
  padding: 60px 0px 0px;
  margin:0 0 0;
  text-align: center;

  text-shadow: 0 0 50px black;
}

.search{
font-size: 12px;
margin: 0px 200px 0px;
}

#btn-search{

    width:30px;
    height:30px;
    padding:0;
    border:0;
    background:url(images/btn.gif) no-repeat left top;
    text-indent:-9898px;
    font-size: 0px;
    line-height: 0px;
    cursor:pointer;
    background-position: center center;


}

#searchBtn {
    float: right;
    top: 0;
    _top: 1px;
    left: 0px;
}


#searchform {  
    position: relative;   
}  
#keyword {
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: none;
    padding: 0;
    color: black;
}  


