






#btn-search{

    width:30px;
    height:30px;
    padding:0;
    border:0;
    background:url(images/btn.gif) no-repeat left top;
    text-indent:-9898px;
    font-size: 0px;
    line-height: 0px;
    cursor:pointer;
    background-position: center center;


}

#searchBtn {
    float: right;
    top: 0;
    _top: 1px;
    left: 0px;
}

.search{
  float: left;
  
}

#searchform {  
 
 }  
 
#keyword {
    width: 200px;
    height: 30px;
    font-size: 20px;
    padding: 0;
    color: black;
}  



h2{
  font-size: 34px;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  border: 0;
  padding: 0px 0 20px 0;
  text-align: center;
 }




.text1{
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  padding-right: 50px;
  padding-left:  150px;
}
.text2{
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  padding-right: 150px;
  padding-left:  150px;
}

.search2{
  padding-left:  200px;
}

#searchform2 {  
 
 }  
 
#keyword2 {
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding: 0;
    color: black;
} 


.sign_up2{
     width:250px;
     color:black;
  background:#ffffff;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  display:block;
  text-decoration:none;
  border:1px solid #225588;
  padding:12px 0 8px 0;
border-radius:5px;

}




footer{
  margin :40px 0px 0px 0px;
  clear:both;
  height: 80px;
  background-color: grey;
  padding: 0px 0px 0px 0px;
}

.text-footer{
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  padding: 45px 0px 0px 0px;
}


